body{
    background: #BDBDBD;
}

.jumbotron {
    height: 662px;
    background-image: url(../img/bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.top-header{
    background-color: white;
    text-align: center;
    font-weight: bold;
    margin: 100px 0px 25px;
}

.second-header{
    background-color: white;
    text-align: center;
  font-weight: normal;
}

.navbar a {
    color: white;
}