<!-- your html code here -->
<div class="contact">
    <h2>Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente quibusdam nisi sed ad facere culpa amet
        dignissimos sequi eum labore adipisci aperiam velit excepturi quo ut, expedita cupiditate aut reprehenderit.</p>

    <div class="mb-3">
        
        <label for="exampleFormControlInput1" class="form-label">Your Email</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">

        <label for="exampleFormControlTextarea1" class="form-label">Your Message</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    
    </div>
   

</div>